.rub{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
.name{
  text-align: center;
  font-family: 'Arial Black', sans-serif;
  font-size: 50px;
  color:rgb(106, 106, 223);
}
.nav{
  text-align: center;
  font-family: 'Arial Black', sans-serif;
}
.ac{
  text-align: center;
}
.body{
  background-color: rgb(169, 147, 150);
}